In [24]:
import pandas as pd

df = pd.read_parquet("../data/processed/pitcher_game_data_2023.parquet")
df.head(100)

,game_date,pitch_count,strikeouts,max_inning,num_pitch_types,home_team,away_team,rest_days,pitcher_team,opponent_team,opponent_k_pct,park_factor_K,rolling_K_avg_3,rolling_K_avg_5,rolling_pitch_count_5,rolling_K_rate,pitcher_name,pitcher_id
0,2023-04-01,94,7,5,5,TEX,PHI,5,PHI,TEX,0.229340,1.01,5.000000,5.0,85.0,0.055000,Zack Wheeler,554430
1,2023-04-07,92,5,6,6,PHI,CIN,6,PHI,CIN,0.214286,1.00,5.000000,5.0,85.0,0.055000,Zack Wheeler,554430
2,2023-04-12,95,6,6,5,PHI,MIA,5,PHI,MIA,0.258953,1.00,5.000000,5.0,85.0,0.055000,Zack Wheeler,554430
3,2023-04-18,94,5,5,6,CHW,PHI,6,PHI,CHW,0.211896,0.99,6.000000,5.0,85.0,0.055000,Zack Wheeler,554430
4,2023-04-23,111,11,6,5,PHI,COL,5,PHI,COL,0.234247,1.00,5.333333,5.0,85.0,0.055000,Zack Wheeler,554430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2023-09-27,105,5,9,5,TOR,NYY,6,NYY,TOR,0.209185,1.00,7.000000,7.0,100.4,0.041833,Gerrit Cole,543037
96,2023-04-01,83,1,5,6,KC,MIN,5,MIN,KC,0.196368,0.96,5.000000,5.0,85.0,0.055000,Sonny Gray,543243
97,2023-04-07,98,13,7,7,MIN,HOU,6,MIN,HOU,0.165049,1.01,5.000000,5.0,85.0,0.055000,Sonny Gray,543243
98,2023-04-12,78,5,5,7,MIN,CHW,5,MIN,CHW,0.212821,1.01,5.000000,5.0,85.0,0.055000,Sonny Gray,543243
99,2023-04-18,98,7,5,6,BOS,MIN,6,MIN,BOS,0.210614,0.98,6.333333,5.0,85.0,0.055000,Sonny Gray,543243

In [25]:
df.describe()

,game_date,pitch_count,strikeouts,max_inning,num_pitch_types,rest_days,opponent_k_pct,park_factor_K,rolling_K_avg_3,rolling_K_avg_5,rolling_pitch_count_5,rolling_K_rate,pitcher_id
count,901,901.000000,901.000000,901.000000,901.000000,901.000000,901.000000,901.000000,901.000000,901.000000,901.000000,901.000000,901.000000
mean,2023-07-03 08:36:13.584905728,93.708102,6.249723,6.093230,4.619312,5.896781,0.225297,1.001299,6.139475,6.064151,92.681243,0.042511,624018.296337
min,2023-04-01 00:00:00,14.000000,0.000000,1.000000,2.000000,3.000000,0.138889,0.960000,1.666667,2.200000,67.000000,0.010571,434378.000000
25%,2023-05-19 00:00:00,89.000000,5.000000,6.000000,4.000000,5.000000,0.211704,0.990000,5.000000,5.000000,86.000000,0.034553,593958.000000
50%,2023-07-03 00:00:00,95.000000,6.000000,6.000000,5.000000,6.000000,0.224865,1.000000,6.000000,6.000000,94.200000,0.042035,656302.000000
75%,2023-08-19 00:00:00,100.000000,8.000000,7.000000,5.000000,6.000000,0.239407,1.020000,7.333333,7.000000,97.800000,0.053498,668678.000000
max,2023-10-01 00:00:00,117.000000,14.000000,9.000000,7.000000,38.000000,0.338235,1.030000,11.666667,10.600000,107.800000,0.072464,680694.000000
std,NaN,11.093954,2.560558,1.107634,0.902111,1.767421,0.021795,0.019055,1.620671,1.379151,6.828774,0.010752,56958.545177